

/* .manageCompany{
  
   
} */
mat-icon.keyboard_backspace{
    display: inline-flex;
    vertical-align: bottom;
}
.lab{
    padding: 20px;
    
}
.labs{
    padding: 20px;
    color: rgb(254, 87, 87);
}
.space{
    padding: 10px;
}